<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Ruby On Rails Power</h3>
      <%=image_tag('bookCovers/RubyOnRails-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>HTML5 and CSS3</h3>
      <%=image_tag('bookCovers/HTML5CSS3-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(2), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>JavaScript - The Reference Guide</h3>
      <%=image_tag('bookCovers/JavaScript-theReferenceGuide-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(3), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Murach's PHP and MySQL</h3>
      <%=image_tag('bookCovers/MurachsPHPandMySQL-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(4), class:'btn btn-primary' %>
    </div>    
  </div>
  
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>PHP with MySQL</h3>
      <%=image_tag('bookCovers/PHPwMySQL-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(5), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>WordPress for Dummies</h3>
      <%=image_tag('bookCovers/WordPressForDummies-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(6), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Search Engine Optimization</h3>
      <%=image_tag('bookCovers/SearchEngineOptimization-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(7), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>The Web Collection - Adobe Suite</h3>
      <%=image_tag('bookCovers/TheWebCollection-BookCover.jpg') %>
      <%= link_to 'Read More', book_path(8), class:'btn btn-primary' %>
    </div>    
  </div>  
</div>